<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>下载码可</title>
    <!--引入ico-->
    <!--<link rel="shortcut icon" href="static/favicon.ico?v=2">-->
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="header">
        <img src="../../assets/images/html/makeLogoHeader_img2x.png" alt="码可" class="logo">
    </div>
    <div class="container">
        <img class="banner" src="../../assets/images/html/downloadPage_img2x.png" alt="下载Banner">
        <h3 class="prompt">小微商户利器 玩转移动收银</h3>
        <div class="button btn" id="button">
            <span class="button-text">立即下载</span>
        </div>
    </div>
    <div class="footer">
        <p class="prompt-text">Copyright © 2018 JFpays.com</p>
        <p class="prompt-text">All Rights Reserved.</p>
    </div>
    <script>
        var ANDROID_URL = 'http://bk-merchant-public.oss-cn-shanghai.aliyuncs.com/app/android/marker.apk';
        var iOS_URL = 'https://itunes.apple.com/cn/app/%E7%A0%81%E5%8F%AF/id1363844831?mt=8';
    </script>
</body>
</html>

