<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>2018年会控制台</title>
    <!--引入ico-->
    <!--<link rel="shortcut icon" href="static/favicon.ico?v=2">-->
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="header">
        <img src="../../assets/images/html/logo.png" alt="即富" class="logo">
        <div class="control btn">
            <span>菜单</span>
        </div>
    </div>
    <div class="container">
        <div class="view-wrap login-wrap show" id="login-wrap">
            <div class="input-wrap">
                <input type="password" maxlength="6" id="login-input" placeholder="口令"/>
            </div>
            <div class="btn button" id="login-button">
                <span>GO</span>
            </div>
        </div>
        <div class="view-wrap menu-wrap" id="menu-wrap">
            <ul class="menu-inner">
                <li class="menu-item" data-type="0001">签到大屏幕</li>
                <li class="menu-item" data-type="0002">抽取一二三等奖</li>
                <li class="menu-item" data-type="0003">随机抽奖</li>
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</body>
</html>

