@import "../../assets/scss/_define";
@import "../../assets/scss/common";

body{
    @extend %h100;
    @extend %oh;
    background-color: #fff;
}

.app{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %oh;
}
.header-wrap{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %df;
    @extend %aic;
    justify-content: space-between;
    height: 76px;
    padding: 0 j(10);
    z-index: 9;
}
.header-logo{
    width: 78px;
    height: auto;
}
.header-btn{
    @extend %pr;
    @extend %cp;
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
    &.close{
        span{
            &:first-child{
                top: 22px;
                transform: rotate(45deg);
            }
            &:nth-child(2){
                width: 0;
                opacity: 0;
            }
            &:last-child{
                bottom: 22px;
                transform: rotate(-45deg);
            }
        }
    }
    span{
        @extend %pa;
        @extend %l50;
        @include tst(all, .3s);
        margin-left: -8px;
        width: 16px;
        height: 2px;
        background-color: #83b0c9;
        opacity: 1;
        &:first-child{
            top: 16px;
        }
        &:nth-child(2){
            @extend %t50;
            margin-top: -1px;
        }
        &:last-child{
            bottom: 16px;
        }
    }
}
.menu-wrap,
.view-wrap{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %oh;
    overflow-y: auto;
    overflow-x: hidden;
}
.view-inner{
    @extend %w100;
}
.view-inner {
    @extend %pa;
    @extend %dn;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %fdc;
    @extend %aic;
    padding-top: j(100);
    overflow-y: auto;
    background-color: #fff;
    &.show{
        @extend %df;
    }
}
.menu-wrap{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @include tst(all, .3s);
    margin-top: j(100);
    opacity: 0;
    background-color: #fff;
    transform: translate3d(100%, 0, 0);
    &.show{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.menu-title{
    @extend %fwn;
    @extend %c3;
    line-height: 2;
    font-size: j(32);
}
.menu-item{
    @extend %c6;
    line-height: 1.5;
    font-size: j(18);
}

.login-inner{
    .button{
        margin-top: j(50);
    }
}
.input-wrap{
    width: j(300);
    height: j(60);
    border-bottom: 1px solid #dedede;
    &.focus{
        border-bottom: 1px solid #333;
    }
    input{
        @extend %w100;
        @extend %h100;
        @extend %tac;
        color: #333;
        line-height: j(60);
        font-size: j(24);
        border: none;
    }
}
.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @include tst(all, .3);
    font-size: j(24);
    width: j(80);
    height: j(80);
    border-radius: 50%;
    box-shadow: 0 j(2) j(1) j(2) rgba(0,0,0,.1);
    &:active{
        color: #fff;
        background-color: #dedede;
    }
    &.start{
        background: url("../../assets/images/css/start.png") center no-repeat;
        background-size: j(30);
        &:active{
            color: #fff;
            background-color: #dedede;
        }
    }
    &.reset{
        background: url("../../assets/images/css/reset.png") center no-repeat;
        background-size: j(30);
        &:active{
            color: #fff;
            background-color: #dedede;
        }

    }
    &.stop{
        background: url("../../assets/images/css/stop.png") center no-repeat;
        background-size: j(30);
        &:active{
            color: #fff;
            background-color: #dedede;
        }
    }
}

.home-prompt{
    font-size: j(18);
}
.sign-inner{

}
.sign-number{
    font-size: j(88);
}

.sign-prompt{
    @extend %df;
    @extend %aic;
    width: j(250);
}
.sign-prompt-bar{
    @extend %df1;
    height: 1px;
    background-color: #dedede;
}
.sign-title{
    @extend %c6;
    @extend %db;
    margin: 0 j(30);
    font-size: j(14);
}

.lottery-operate{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-top: j(50);
    .button{
        margin: 0 j(10);
    }
    &.go{
        .reset,
        .start,
        .stop{
            @extend %dn;
        }
    }
    &.start{
        .go,
        .stop{
            @extend %dn;
        }
    }
    &.stop{
        .go,
        .start,
        .reset{
            @extend %dn;
        }
    }
}

