@import "../../assets/scss/_define";
@import "../../assets/scss/common";
@import "./sign-page";

body{
    @extend %h100;
    @extend %oh;
    background-color: #fff;
}

.app{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %oh;
}
.header-wrap{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %df;
    @extend %aic;
    justify-content: space-between;
    height: 76px;
    padding: 0 j(10);
    z-index: 9;
}
.header-logo{
    width: 78px;
    height: auto;
}
.header-btn{
    @extend %pr;
    @extend %cp;
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
    &.close{
        span{
            &:first-child{
                top: 22px;
                transform: rotate(45deg);
            }
            &:nth-child(2){
                width: 0;
                opacity: 0;
            }
            &:last-child{
                bottom: 22px;
                transform: rotate(-45deg);
            }
        }
    }
    span{
        @extend %pa;
        @extend %l50;
        @include tst(all, .3s);
        margin-left: -8px;
        width: 16px;
        height: 2px;
        background-color: #83b0c9;
        opacity: 1;
        &:first-child{
            top: 16px;
        }
        &:nth-child(2){
            @extend %t50;
            margin-top: -1px;
        }
        &:last-child{
            bottom: 16px;
        }
    }
}
.menu-wrap,
.view-wrap{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %oh;
    overflow-y: auto;
    overflow-x: hidden;
}
.view-inner{
    @extend %w100;
}
.view-inner {
    @extend %pa;
    @extend %dn;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %fdc;
    @extend %aic;
    padding-top: j(100);
    overflow-y: auto;
    background-color: #fff;
    &.show{
        @extend %df;
    }
}

.login-inner{
    .button{
        margin-top: j(50);
    }
}
.input-wrap{
    width: j(300);
    height: j(60);
    border-bottom: 1px solid #dedede;
    &.focus{
        border-bottom: 1px solid #333;
    }
    input{
        @extend %w100;
        @extend %h100;
        @extend %tac;
        color: #333;
        line-height: j(60);
        font-size: j(24);
        border: none;
    }
}
.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @include tst(all, .3);
    font-size: j(24);
    width: j(80);
    height: j(80);
    border-radius: 50%;
    box-shadow: 0 j(2) j(1) j(2) rgba(0,0,0,.1);
}
.home-prompt{
    font-size: j(18);
}
.sign-inner{

}
.sign-number{
    font-size: j(88);
}
.sign-prompt{
    @extend %df;
    @extend %aic;
    width: j(250);
}
.sign-prompt-bar{
    @extend %df1;
    height: 1px;
    background-color: #dedede;
}
.sign-title{
    @extend %c6;
    @extend %db;
    margin: 0 j(30);
    font-size: j(14);
}

.sign-pop{
    @extend %pa;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    @extend %t50;
    @extend %l50;
    margin-top: j(-120);
    margin-left: j(-120);
    width: j(240);
    height: j(240);
    background-color: rgba(0,0,0,0.3);
    border-radius: j(8);
    span{
        font-size: j(18);
        color: #fff;
        margin-top: j(20);
    }
    &.hidden{
        @extend %dn;
    }
}
.sign-img{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: j(110);
    height: j(110);
    border-radius: 50%;
    border: 2px solid #fff;
    img{
        width: j(100);
        height: j(100);
        border-radius: 50%;
    }
}

.lottery-inner{
    @extend %jcc;
    padding-top: 0;
}
.lottery-title{
    font-size: j(30);
    margin-bottom: j(50);
    height: j(50);
    line-height: j(50);
}
.lottery-con{
    @extend %w100;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    //@extend %df1;
    flex-wrap: wrap;
    width: j(500);
}
.lottery-item{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    width: j(80);
    height: j(80);
    margin: j(10);
    span{
        font-size: j(18);
        color: #333;
        margin-top: j(20);
    }
}
.lottery-info{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: j(50);
    height: j(50);
    border-radius: 50%;
    border: 2px solid #fff;
    img{
        width: j(40);
        height: j(40);
        border-radius: 50%;
    }
}
