@import "../../assets/scss/_define";
@import "../../assets/scss/common";

body{
    @extend %h100;
    @extend %oh;
    background-color: #fff;
}

.header{
    padding: j(20) j(20) 0;
}
.logo{
    width: j(78);
    height: j(31.5);
}
.control{
    @extend %pf;
    top: j(20);
    right: j(20);
    font-size: j(14);
}

.container{
    @extend %pr;
    @extend %h100;
    @extend %w100;
    @extend %oh;
}

.view-wrap {
    @extend %pa;
    @extend %dn;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %fdc;
    @extend %aic;
    overflow-y: auto;
    padding-top: j(120);
    &.show{
        @extend %df;
    }
}

.input-wrap{
    //margin-top: j(120);
    width: j(300);
    height: j(60);
    border-bottom: 1px solid #dedede;
    input{
        @extend %w100;
        @extend %h100;
        @extend %tac;
        color: #333;
        line-height: j(60);
        font-size: j(24);
        border: none;
    }
    p{
        font-size: j(18);
    }
}

.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @include tst(all, .3);
    margin-top: j(50);
    font-size: j(24);
    width: j(80);
    height: j(80);
    border-radius: 50%;
    box-shadow: 0 j(2) j(1) j(2) rgba(0,0,0,.1);
    &:active{
        color: #fff;
        background-color: #dedede;
    }
}


.menu-wrap,
.menu-inner{
    @extend %df;
    @extend %aic;
    @extend %fdc;
}
.menu-inner{
    margin-top: 120px;
}
.menu-item{
    @extend %cp;
    line-height: 2;
    font-size: j(18);
    color: #333;
    &:hover{
        text-decoration: underline;
    }
}
