<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>2018年会</title>
    <!--引入ico-->
    <!--<link rel="shortcut icon" href="static/favicon.ico?v=2">-->
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div id="app" class="app">
        <header class="header-wrap">
            <img src="../../assets/images/html/logo.png" alt="即富" class="header-logo">
        </header>
        <main class="view-wrap">
            <!--登录-->
            <div class="view-inner login-inner show" id="login-inner">
                <div class="input-wrap">
                    <input type="password" maxlength="6" id="login-input" placeholder="大屏幕口令"/>
                </div>
                <div class="btn button" id="login-button">
                    <span>GO</span>
                </div>
            </div>
            <!--/登录-->
            <div class="view-inner home-inner" id="home-inner">
                <p class="home-prompt">欢迎使用大屏幕</p>
            </div>
            <!--签到-->
            <div class="view-inner sign-inner" id="sign-inner">
                <div class='scene' id="scene">
                    <div class='sphere'>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                        <div class='ring'>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                            <div class='spoke'>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                                <img class="def" src="../../assets/images/html/user_default_icon.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sign-pop hidden" id="sign-pop">
                    <div class="sign-img">
                        <img src="../../assets/images/html/user_default_icon.png" alt="">
                    </div>
                    <span></span>
                </div>
            </div>
            <!--/签到-->
            <!--抽奖-->
            <div class="view-inner lottery-inner" id="lottery-inner">
                <h2 class="lottery-title">大抽奖</h2>
                <div class="lottery-con"></div>
            </div>
            <!--/抽奖-->
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</body>
</html>

