<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>2018年会签到</title>
    <!--引入ico-->
    <!--<link rel="shortcut icon" href="static/favicon.ico?v=2">-->
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div id="app" class="app">
        <header class="header-wrap">
            <img src="../../assets/images/html/logo.png" alt="即富" class="header-logo">
        </header>
        <main class="view-wrap">
            <!--登录-->
            <div class="view-inner login-inner show" id="login-inner">
                <div class="input-wrap">
                    <input type="password" maxlength="6" id="login-input" placeholder="验证码"/>
                </div>
                <div class="btn button" id="login-button">
                    <span>GO</span>
                </div>
            </div>
            <!--/登录-->
            <!--签到-->
            <div class="view-inner sign-inner" id="sign-inner">
                <p class="sign-number">55</p>
                <div class="sign-prompt">
                    <div class="sign-prompt-bar"></div>
                    <span class="sign-title">您已成功签到</span>
                    <div class="sign-prompt-bar"></div>
                </div>
            </div>
            <!--/签到-->
        </main>
    </div>
</body>
</html>

